<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Principal</title>
</head>
<body>
  <h1>Workflow para crear un hotfix</h1>
  <h2>Creando hotfix a repo de Nandi</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
     Dolores excepturi.
     Explicabo rem molestiae ducimus quia voluptatibus. Animi
     itaque eaque inventore quae officia, et fugiat veniam id
     repellat quia nobis possimus!</p>
  <script src="bundle.js"></script>
</body>
</html>
